<h1>Listing qmails</h1>

<table>
  <tr>
    <th>Content</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @qmails.each do |qmail| %>
  <tr>
    <td><%= qmail.content %></td>
    <td><%= link_to 'Show', qmail %></td>
    <td><%= link_to 'Edit', edit_qmail_path(qmail) %></td>
    <td><%= link_to 'Destroy', qmail, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Qmail', new_qmail_path %>
