


<% @posts.each do |p| %>
  
  <b><%= p.name %></b>
  </br>
<div class ="post">
   <%= p.title %>: 
   <%= p.content %></br>
</div>
    <%= link_to 'T', edit_post_path(p) %>      
    <%= link_to 'X', p, :method => :delete, :data => { :confirm => 'Are you sure?' } %>
  </br>
  </br>
<% end %>

<br />
<br />



    
